<div #wrapper id="wrapper" class="relative z-0 bg-slate-100" [style.width.px]="width()" [style.height.px]="height()">
  <!-- red -->
  <div data-opacity="full" class="red-block absolute top-0 left-0 bg-red-600" [style.width.px]="unitSize()" [style.height.px]="unitSize()"></div>
  <div data-opacity="half" class="red-block absolute top-0 left-0 bg-red-600" [style.width.px]="unitSize()" [style.height.px]="unitSize()"></div>
  <div data-opacity="third" class="red-block absolute top-0 left-0 bg-red-600" [style.width.px]="unitSize()" [style.height.px]="unitSize()"></div>

  <!-- blue -->
  <div data-opacity="full" class="blue-block absolute top-0 left-0 bg-blue-600" [style.width.px]="unitSize()" [style.height.px]="unitSize()"></div>
  <div data-opacity="half" class="blue-block absolute top-0 left-0 bg-blue-600" [style.width.px]="unitSize()" [style.height.px]="unitSize()"></div>
  <div data-opacity="third" class="blue-block absolute top-0 left-0 bg-blue-600" [style.width.px]="unitSize()" [style.height.px]="unitSize()"></div>


  <!-- yellow -->
  <div data-opacity="full" class="yellow-block absolute top-0 left-0 bg-yellow-600" [style.width.px]="unitSize()" [style.height.px]="unitSize()"></div>
  <div data-opacity="half" class="yellow-block absolute top-0 left-0 bg-yellow-600" [style.width.px]="unitSize()" [style.height.px]="unitSize()"></div>
  <div data-opacity="third" class="yellow-block absolute top-0 left-0 bg-yellow-600" [style.width.px]="unitSize()" [style.height.px]="unitSize()"></div>
</div>