<header class="p-4 bg-purple-50 shadow-md shadow-purple-300/50 mb-8">
  <nav class="flex justify-center items-center gap-4 text-purple-600">
    <a [routerLink]="['']" routerLinkActive="border-b-purple-800" class="font-bold border-b-2 border-b-transparent transition-colors hover:border-b-purple-200">Home</a>
    <a [routerLink]="['euclidean']" routerLinkActive="text-purple-500" class="border-b-2 border-b-transparent transition-colors hover:border-b-purple-200">Euclidean</a>
  </nav>
</header>

<main class="main">
  <router-outlet />
</main>

<footer class="p-8 mt-12 bg-slate-50 text-slate-600 flex justify-center items-center gap-4">
  <p>A Hallpass Sandbox App</p>
  <p>&copy; 2025 Hallpass &amp; Friends</p>
</footer>
